
<div class="bg-100 login_warp"  fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center none" fxFlex="100%" fxFlex.gt-sm="100%"  >

    <!-- <div  fxLayout="column" fxFlex="55%" fxLayoutAlign="end"  fxHide.sm fxHide.xs>
        <img class="login_img" src="../../../assets/images/login_screen.png">
    </div> -->
      <div  fxLayout="row" fxFlex="55%" fxLayoutAlign="end center"  fxHide.sm fxHide.xs>
       <div style="width: 100%;
       height: initial;
       padding-top: 40px;
       padding-right: 40px;
       padding-bottom: 40px;
       padding-left: 40px;
       max-width: 489px;
       background-color: #fff;">
            <img src="../../../assets/images/login_img.png" style="width: 100%;">
       </div>
    </div>
    <div fxLayout="column" fxFlex="45%"  fxLayoutAlign="center start">
    <div class="bg-50 login_box">
        <div class="login_box_inn">
            <img class="loin_log_img" src="../../../assets/images/new_logo.png">
            <form  autocomplete="off"
            autocomplete="false"
            autocorrect="off"class="login_form">
                <div class="text-50 log_titile">Login with your Credentials to access the warehouse</div>
                
                <!-- <div class="cust_input">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="pat@example.com" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                      </mat-form-field>
                </div> -->
                <div class="cust_input">
                    <mat-form-field color="primary"  appearance="fill" >
                        <mat-label>Enter User name</mat-label>
                        <input matInput placeholder="Enter User name"  autocomplete="off"
                        autocomplete="false"
                        autocorrect="off"  >
                      </mat-form-field>
                </div>
                <div class="cust_input">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'"  autocomplete="off"
                        autocomplete="false"
                        autocorrect="off" >
                        
                      </mat-form-field>
                      <div (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="pass_view_icon">
                          <img src="../../../assets/images/{{hide ? 'pass_view_icon.png' : 'pass_view_icon.png'}}">
                      </div>
                      <!-- <button   >
                        
                        <div>{{hide ? 'visibility_off' : 'visibility'}}</div>
                      </button> -->
                </div>
                <div class="forg_pass_wrp" fxLayout="row" fxLayoutAlign="space-between center" >
                <div>
                    <div class="cust_input">
                        <mat-checkbox  class="example-margin"  [checked]='RememberMe' >Remember me</mat-checkbox>
                    </div>
                </div>
                <div class="forgot_pass">
                    Forgot Password?
                </div>

                </div>
                <div class="cust_input singin_bt" fxLayout="column" fxLayoutAlign="center stretch" >
                    <button mat-flat-button color="primary">Sigin in</button>
                </div>
                <div class="video_cont"  fxLayout="row" fxLayoutAlign="space-between center" >
                    <div class="vid_text" fxFlex="65">How to use WMS, click here to watch the tutorial. </div>
                    <div class="cust_input " fxFlex="35" fxLayout="row" fxLayoutAlign="end center" > 
                        <button mat-flat-button color="primary"><img class="play_bt" src="../../../assets/images/play_bt.png"> Watch Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

