<div class="container-fluid">
      <div class="row col-sm-12">
        <div class="col-sm-1">
          <small style="font-size: 14px;color: #818182"><b>LoadPlanner</b></small>
          <h3 style="letter-spacing: 0px;color: #000000"><b>Planner</b></h3>
        </div>
        <div class="col-sm-4">
          <div style="display: inline-flex; vertical-align: middle; background-color: #ffffff; padding: 8px 8px; border-radius: 4px">
            <button class="btn">Upload</button>
            <button class="btn">Order Data</button>
            <button class="btn">Planned Trips</button>
            <button class="btn">Unplanned Trips</button>
          </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2" style="background-color: #FFFFFF">
          <input class="app-search__input" type="search" placeholder="Search"/>
        </div>
        <div class="col-sm-2" style="background-color: #FFFFFF">
          <input class="app-search__input" type="search" placeholder="Search"/>
          <img  src="../../../../assets/images/search-normal.png">
        </div>
        <div class="col-sm-1">
          <img  src="../../../../assets/images/Icon%20awesome-filter.png" class="icon-awesome-filter">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" *ngIf="uploadFileComponent">
          <app-upload-file [tab]="tab"></app-upload-file>
        </div>

        <div class="col-md-12" *ngIf="orderDataComponent">
          <app-order-data [tab]="tab"></app-order-data>
        </div>

        <div class="col-md-12" *ngIf="plannedTripsComponent">
          <app-planned-trips [tab]="tab"></app-planned-trips>
        </div>

        <div class="col-md-12" *ngIf="unPlannedTripsComponent">
          <app-unplanned-trips [tab]="tab"></app-unplanned-trips>
        </div>
      </div>
    </div>


