<div class="bg-50 select_wh_worp" fxLayout="column" fxLayoutAlign=" none" >
    <div fxLayout="row" fxLayoutAlign="start center" class="text-50 backaction">
       <img src="../../../assets/images/left_arrow.png" width="20px"> Back
    </div>
    <div fxLayout="column" fxLayoutAlign=" end" class="wh_name_wrp"  >
        <div fxLayout="row" fxLayoutAlign="end center" class="text-50 wh_name_wrp">Hi Ravi <img src="../../../assets/images/user.png" ></div>
        <div class="text-50 wh_titile_wrp">Please select the following to proceed ahead</div>
    </div>
    <div class="wh_list_wrp">
       <div  class="bg-50 wh_list_card">
           <div fxLayout="column" fxLayoutAlign=" none" class="wh_list_card_inn">
            <div class="wh_name_wrp">Amazon one</div>
            <div fxLayout="row" fxLayoutAlign="space-around center" class="bg-200 wh_img_wrp">
                <img src="../../../assets/images/select_wh.png">
            </div>
            <div class="bg-200 wh_bt_wrp">
                <button mat-flat-button color="primary">Warehouse: MLLTYU567</button>
            </div>
           </div>
       </div>
       <div  class="bg-50 wh_list_card">
        <div fxLayout="column" fxLayoutAlign=" none" class="wh_list_card_inn">
         <div class="wh_name_wrp">Amazon one</div>
         <div fxLayout="row" fxLayoutAlign="space-around center" class="bg-200 wh_img_wrp">
             <img src="../../../assets/images/select_wh.png">
         </div>
         <div class="bg-200 wh_bt_wrp">
             <button mat-flat-button color="primary">Warehouse: MLLTYU567</button>
         </div>
        </div>
    </div>
    <div  class="bg-50 wh_list_card">
        <div fxLayout="column" fxLayoutAlign=" none" class="wh_list_card_inn">
         <div class="wh_name_wrp">Amazon one</div>
         <div fxLayout="row" fxLayoutAlign="space-around center" class="bg-200 wh_img_wrp">
             <img src="../../../assets/images/select_wh.png">
         </div>
         <div class="bg-200 wh_bt_wrp">
             <button mat-flat-button color="primary">Warehouse: MLLTYU567</button>
         </div>
        </div>
    </div>
    <div  class="bg-50 wh_list_card">
     <div fxLayout="column" fxLayoutAlign=" none" class="wh_list_card_inn">
      <div class="wh_name_wrp">Amazon one</div>
      <div fxLayout="row" fxLayoutAlign="space-around center" class="bg-200 wh_img_wrp">
          <img src="../../../assets/images/select_wh.png">
      </div>
      <div class="bg-200 wh_bt_wrp">
          <button mat-flat-button color="primary">Warehouse: MLLTYU567</button>
      </div>
     </div>
 </div>
 
    </div>
</div>
