<div class="dashboard_wrop">  
<div  fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="text-50 discrip_wrip">
        <div class="discrip_titl">Outbound</div>
        <div class="duscript_sub">Order<span>ORDER PROCESS</span></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <div>
        
      </div>
        <div class="cust_input_datepick">
          <mat-form-field   appearance="fill">      
            <mat-label>Start date - End date</mat-label>      
            <mat-date-range-input [rangePicker]="picker">      
              <input matStartDate placeholder="Start date">      
              <input matEndDate placeholder="End date">      
            </mat-date-range-input>      
            <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>       -->
            <mat-datepicker-toggle  [disableRipple]="true" matSuffix [for]="picker">
              <div matDatepickerToggleIcon><img src="../../../assets/images/calendar_icon.png" width="20px"></div>
            </mat-datepicker-toggle>
           
            <mat-date-range-picker #picker></mat-date-range-picker>      
          </mat-form-field>
                </div>
      
        <div class="search_table" style="margin-left: 10px">
            <input placeholder="Search" type="search">
        </div>
        <div class="cust_input" style="margin-left: 10px">
            <button mat-flat-button color="primary">Process Order</button>
        </div>
        <div class="cust_input" style="margin-left: 10px">
            <button mat-flat-button color="primary">Download template</button>
        </div>
        <div class="exporting_icon">
            <img src = "../../../assets/images/import_ex_icon.svg" />
        </div>
    </div>
</div>
<div class="table_wrap" fxLayout="row" fxLayoutAlign="space-between top" >
  <div fxFlex="60">
    <table mat-table [dataSource]="dataSource" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div fxFlex="40" fxLayout="row" fxLayoutAlign="space-between top">
    <div class="click_data">
<div class="data_view_ds">
  <img src="../../../assets/images/card-send@3x.png">
  <h3 >
    Click on <b>row item </b><br>
to see detailed view
  </h3>
</div>
    </div>
  </div>
   
      
      
</div>
</div>