
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <small style="font-size: 14px;color: #818182"><b>Load Planner</b></small>
      <h3 style="letter-spacing: 0px;color: #000000;font-size: 20px"><b>User Master</b></h3>
    </div>
    <div class="col-sm-4">
      <div class="planner-tabs-header">
        <button class="btn px-4 planner-tabs"  (click)="changeTab(1, 'pending')" [ngClass]="{'planner-active-tabs':tab==1}">Pending</button>
        <button class="btn px-4 planner-tabs" (click)="changeTab(2, 'active')" [ngClass]="{'planner-active-tabs':tab==2}">Active</button>
      </div>
    </div>
    <div class="col-sm-6">
      <ul class="body-right">
        <li>
          <div class="input-group">
            <input type="search" aria-describedby="button-addon4" placeholder="Search in table" class="form-control border-0 hide-clear p-0-8rem" style="font-size: 14px">
            <div class="input-group-prepend">
              <button id="button-addon4" type="button" class="btn btn-link p-0-8rem text-info" style="background-color: white">
                <img  src="../../../../assets/images/search-normal.png">
              </button>
            </div>
          </div>
        </li>
        <li>
          <div class="icon-awesome-image">
            <img  src="../../../../assets/images/Icon%20awesome-filter.png" class="icon-awesome-filter">
          </div>
        </li>
        <li>
          <button class="btn btn-sm downTemplate">
            Add New
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="UserComponent">
     <app-user-master [tab]="tab"></app-user-master>
    </div>
  </div>
</div>
