::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4723D9;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100
}

*, ::before, ::after {
  box-sizing: border-box
}

body {
  position: relative;
  /*margin: var(--header-height) 0 0 0;*/
  /*padding: 0 1rem;*/
  /*font-family: var(--body-font);*/
  /*font-size: var(--normal-font-size);*/
  transition: .5s
}

a {
  text-decoration: none
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  /*background-color: var(--white-color);*/
  background-color: #f8f9fa;
  z-index: var(--z-fixed);
  transition: .5s
}

.header_toggle {
  /*color: var(--first-color);*/
  color: #292D32;
  font-size: 1.5rem;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
}

.header_toggle1{
  display: inline-flex;
  align-items: center;
  padding-left: 1rem
}

.header_toggle1 .form-control {
  background-color: #fff0;
}

.header_toggle1 .form-control:focus {
  box-shadow: none;
}

.globalSearchPlaceholder {
  position: absolute;
  font-size: 14px;
  top: 10px;
  left: 60px;
  color: #97999B;
}

input.hide-clear[type="search"]::-webkit-search-decoration,
input.hide-clear[type="search"]::-webkit-search-cancel-button,
input.hide-clear[type="search"]::-webkit-search-results-button,
input.hide-clear[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.side-nav-footer {
  text-align: center;
  padding-bottom: 1rem;
}

.side-nav-footer .side-nav-footer-head {
  font-size: 12px;
  color: #393B3F;
}

.side-nav-footer .side-nav-footer-footer {
  font-size: 10px;
  font-weight: 500;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden
}

.header_img img {
  width: 40px
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  /*background-color: var(--first-color);*/
  background-color: #F9FAFB;
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
  /*box-shadow: 3px 0px 20px 0px #00000029;*/
  box-shadow: 0px 3px 6px #00000029;
  font-weight: 600;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden
}

.nav_logo, .nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  /*padding: .5rem 0 .5rem 1.5rem*/
}

.nav_logo {
  padding: .5rem 0 2rem .9rem;
}

.nav_link {
  padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo_image{
  width: 148px; height: 55px
}

.header_user_details{
  display: flex;
  text-align: end
}

.header_user_name_details{
  display: table;
  padding: 0 10px 0 0;
}

.header_user_name, .header_user_role {
  display: table-row;
  color: #393B3F;
}

.header_user_name {
  font-weight: 600;
  font-size: 14px;
}

.header_user_role {
  font-size: 12px;
}

/*.nav_logo {*/
/*  margin-bottom: 2rem*/
/*}*/

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color)
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 700
}

.nav_link {
  position: relative;
  /*color: var(--first-color-light);*/
  color: #657785;
  margin-bottom: 1rem;
  transition: .3s
}

.nav_link:hover {
  /*color: var(--white-color)*/
  color: #D6223A;
}

.nav_link:hover .svgMenuActiveIcon {
  background-color: #D6223A;
}

.nav_icon {
  font-size: 1.25rem
}

.nav_name {
  margin: auto;
}

.show-nav {
  left: 0
}

.body-pd {
  /*padding-left: calc(var(--nav-width) + 188px)*/
}

.body-pd-head {
  padding-left: calc(var(--nav-width) + 1rem)
}

.active {
  /*color: var(--white-color)*/
  color: #D6223A;
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color)
}

.height-100 {
  height: 100vh
}

.container-cus {
  /*background-color: #F3F3F4;*/
  padding: 5rem 1rem 0rem 6rem;
  transition: .5s;
  height: 100vh
}

.head-nav2 {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.head-nav2 li {
  margin: 10px;
}

.head-nav2 li:first-child {
  border-right: 2px solid #dee2e6;
  padding: 5px 10px;
}

@media screen and (min-width: 768px) {
  /*body {*/
    /*margin: calc(var(--header-height) + 1rem) 0 0 0;*/
    /*padding-left: calc(var(--nav-width) + 2rem)*/
  /*}*/

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 1rem 0 calc(var(--nav-width) + 2rem)
  }

  .header_img {
    width: 40px;
    height: 40px
  }

  .header_img img {
    width: 45px
  }

  .l-navbar {
    left: 0;
    padding: 0rem 1rem 0 0
  }

  .show-nav {
    width: calc(var(--nav-width) + 175px)
    /*width: calc(var(--nav-width) + 156px)*/
  }

  .body-pd {
    /*padding-left: calc(var(--nav-width) + 188px)*/
    /*padding-left: calc(var(--nav-width) + 1rem)*/
  }

  .body-pd-head {
    padding-left: calc(var(--nav-width) + 188px)
  }

  .container-cus-show {
    padding-left: calc(var(--nav-width) + 188px)
    /*padding: 5rem 1rem 0rem 0rem;*/
  }
}

.icon-awesome-filter{
  background-color: #D6223A;
  border-radius: 10px;
  padding: 10px;
}
.icon-awesome-image{
  display: inline-flex;
  vertical-align: middle;
  padding: 1px 6px 0px 6px;
}

.downTemplate{
  background-color: #D6223A;
  font-size:14px; border: 1px solid #D6223A;
  border-radius: 10px;width: 177px;
  height: 43px;letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: capitalize;
  font-weight: 600;
}

.downTemplate:hover, .downTemplate:active, .downTemplate:focus{
  background-color: #D6223A;
  color: #FFFFFF;
}

.app-content{
  min-height: calc(100vh - 50px);
  margin-top: 50px;
  padding: 30px;
  /*background-color: #e8eff9;*/
  -webkit-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}

.tile {
  position: relative;
  background: #ffffff;
  padding: 20px;
  /*-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
  -webkit-box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  margin-bottom: 30px;
  margin-top: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-floating > label {
  transition: opacity 0.1s ease-in-out, transform 0.5s ease-in-out;
}

.body-right{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

.body-right li {
  padding: 0 0 0 19px;
}

.planner-tabs {
  padding: 8px 20px;
  border-radius: 10px;
  /*color: #000000 !important;*/
}

.planner-tabs-header{
  display: inline-flex;
  vertical-align: middle;
  background-color: #FFFFFF;
  padding: .3rem;
  border-radius: 4px;
  /*color: #000000 !important;*/
}
.btn {
  font-size:14px!important;
}

.p-0-8rem {
  padding: 0.8rem;
}

.p-0-9rem {
  padding: 0.9rem;
}

.py-2-0-8rem {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

.px-4-2rem {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.confirm-btn{
  background-color: #D6223A;
  color: #FFFFFF;
  text-transform: capitalize;
  font-weight: 600;
}

.confirm-btn:hover, .confirm-btn:active, .confirm-btn:focus, .confirm-btn:focus-visible{
  background-color: #D6223A;
  color: #FFFFFF;
}

.cancel-btn{
  color: #D6223A;
  font-weight: 600;
}

.upload-lp-input-file{
  margin:40px 25px 30px 25px;
  font-size: 22px
}

.upload-lp-input-file-content{
  font-size: 14px;
  color: #7D7D7D
}

.upload-single-file{
  margin: 0px 25px;
  font-size: 14px;
  color: #7D7D7D
}

.upload-lpif{
  color: #000000;
  font-size: 30px
}

.upload-file-svgIcon{
  background-color: black;
  height: 66px;
  width: 54px;
  display: inline-block;
}

.planner-tabs:hover,.planner-tabs:active,.planner-tabs:focus {
  border: none;
  /*background-color: #D6223A !important;*/
  /*color: #FFFFFF !important;*/
  /*font-weight: 600;*/
}
.planner-active-tabs {
  background-color: #D6223A !important;
  color: #FFFFFF !important;
  font-weight: 600;
 }

.file-upload{
  border: 4px dashed #3581F5;
}

.tile-body{
  background-color: #FCFCFC;
  border: 4px dashed #EAEAEA;
  border-radius: 10px;
  margin: 0px 25px 20px 25px;
}

.upload-file-icon{
   /*padding: 230px 0px 0px 0px;*/
  margin: 60px 0px;
}


.order-data-tile {
  position: relative;
  background: #ffffff;
  /*-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
  -webkit-box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
}
table tr th {
  border-bottom: 1px solid #EAEAEA !important;
}
table tr td {
  border-bottom: none
}

table tfoot tr td {
  padding: 1rem 0.5rem !important;
}

.fixTableHead {
  overflow-y: auto;
  /*height: 110px;*/
  max-height: 100vh
}

.fixTableHead::-webkit-scrollbar {
  display: none;
}

.fixTableHead thead th {
  position: sticky;
  top: 0;
}
.fixTableHead thead tbody th td{
  overflow-y: hidden;
}
table {
  border-collapse: collapse;
  width: 100%;
}


.file-progress-bar{
  position: relative;
  margin:27px 25px;
  background-color: #3581f512;
  padding: 13px 32px 13px 13px;
  display: flex;
  border-radius: 6px;
  font-size: 14px;
}

.page-link{
  margin: 0px 4px!important;
  padding: 8px 15px;
  border-radius: 4px;
  color: #db2b30!important;
  border: 1px solid #EBEBEB!important;
  background-color: #FFFEFF!important;
}

.page-item.active .page-link{
  z-index: 1;
  color: #fff!important;
  background-color: #db2b30!important;
  border-color: #db2b30!important;
}

.click-here:hover{
  text-decoration: underline #db2b30!important;
  color: #db2b30!important;
}

.pagination-cus .pagination li:first-child .page-link, .pagination-cus .pagination li:last-child .page-link {
  border: none !important;
}

.pagination-cus .pagination li:first-child .page-link,
.pagination-cus .pagination li:last-child .page-link {
  background-color: rgba(243, 243, 244, 0) !important;
  padding: 0 !important;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  top: 0;
  width: 20px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round label:after {
  position: absolute;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 18px;
  opacity: 0;
  top: 6px;
  transform: rotate(316deg);
  width: 10px;
}

.round input[type="checkbox"]:checked + label {
  background-color: #E33F5A!important;
  border-color: #E33F5A!important;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1!important;
}

.signup-response{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  min-height: 100vh;
  background: #E5E7ED 0 0 no-repeat padding-box;
}

.logi-opt-png{
  position: absolute;
  top: 0;
  left: 0;
  margin: 2%
}
.signup-response-content{
  border-radius: 4px;
  position: absolute;
  top: 30%;
  left: 32%;
  padding: 18px;
  margin: 20px;
  width: 31%;
  background-color: #FFFFFF
}

.header-message{
  display: flex;
  justify-content: space-between;
}

.ms-cl{
  color: #000000!important;
}

.body-message{
  text-align: center;
  padding: 40px
}

.body-message-p{
  font-weight: 600
}

.close-btn{
  display: flex;
  flex-direction: row-reverse;
}

.close{
  color: #D12139;font-size: 16px
}

.modal-planner{
  position: fixed!important;
  top: 0!important;
  right: 0!important;
  border: 2px solid #E3EEFF;
  height: 100%;
}

.modal-planner.right-planner .modal-dialog-load-planner {
  margin: auto!important;
  width: 411px!important;
  background-color: #FFFFFF!important;
  /*height: 100vh;*/
}
.proceed-btn{
  /*width: 384px;*/
  background: #D6223A;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 13px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

}

.modal-cancel-btn{
  /*width: 384px;*/
  color: #000000;
  padding: 13px;
  text-align: center;
}
.proceed-btn:active, .proceed-btn:hover, .proceed-btn:focus{
  background: #D6223A;
  color: #FFFFFF;
}


.modal-planner.right-planner{
  height: 100%!important;
  overflow-y: auto!important;
}


.modal-open .modal-planner {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-planner.right-planner.fade-plannere .modal-dialog-load-planner {
  right: -320px!important;
}


.modal-header {
  border-bottom-color: #eeeeee00;
  padding-top: 37px;
  /*position: fixed;*/
  /*top: 0;*/
  /*background-color: #FFFFFF;*/
}


.truck-type{
  padding: 23px 43px 23px 30px;
  display: flex;
  justify-content: space-between;
  margin: 19px 0px;
  border: 2px solid #E3EEFF;
}

.truck-type:active{
  background-color: #EAF2FE;
}
 .active-truck{
  background-color: #EAF2FE;
}

/*.modal-planner::-webkit-scrollbar{*/
/*  display: none;*/
/*}*/


.btn-close:focus {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
  opacity: 1;
}

.btn-close:hover {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.rightModel .modal-dialog {
  margin-right: 0!important;
  margin: 0 0 0 auto;
}

.rightModel.show .modal-dialog {
  /*transform: translateY(-50px) !important;*/
  transform: none !important;
}

.rightModel .modal-dialog .modal-content {
  height: 100%;
  border-radius: 0!important;
}
/*.modal-content{*/
/*  padding: 0px 8px!important;*/
/*}*/


.footer-modal{
  /*margin: 0px 48px 0px 48px;*/
  /*margin: 0px 15px;*/
  /*position: fixed;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*background-color: #FFFFFF;*/
}

.truck-type-body{
  max-height: 58vh;
  overflow-y: auto
}
.truck-type-body::-webkit-scrollbar{
  display: none;
}

.modal-footer {
  border-top-color: #eeeeee00!important;
}


