<div style="margin-top: 24px;margin-bottom: 12px;color: #818182;font-size: 14px;font-weight: 900"
     xmlns="http://www.w3.org/1999/html">Uploaded Data</div>
<div class="order-data-tile">
  <div class="fixTableHead">
    <table class="table caption-top table-hover-sticky">
      <thead>
      <tr>
        <th scope="col">
          <div class="round">
            <input type="checkbox" name="fieldName" id="checkbox" [(ngModel)]="selectAll" (ngModelChange)="toggleAll('')">
            <label for="checkbox" title="Select All"></label>
          </div>
        </th>
        <th scope="col">consignment Number</th>
        <th scope="col">consigner City</th>
        <th scope="col">Consigner State</th>
        <th scope="col">Consignee City</th>
        <th scope="col">Consignee State</th>
        <th scope="col">volume CF</th>
        <th scope="col">Weight</th>
        <th scope="col">Order Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let orders of allOrdersList; let i =index;">
        <td>
          <div class="round">
            <input type="checkbox" name="fieldName" id="chk-{{orders._id}}"
                   [(ngModel)]="orders.checked" [value]="orders._id"
                   (ngModelChange)="toggleDeviceIds(orders.checked, orders)">
            <label for="chk-{{orders._id}}" title="Select"></label>
          </div>
        </td>
        <td>{{orders.orderNo || 'NA'}}</td>
        <td>{{orders.consignorCity || 'NA'}}</td>
        <td>{{orders.consigneeState || 'NA'}}</td>
        <td>{{orders.consigneeCity || 'NA'}}</td>
        <td>{{orders.consigneeState || 'NA'}}</td>
        <td>{{orders.volumeCft || 'NA'}}</td>
        <td>{{orders.weight || 'NA'}}</td>
        <td>{{orders.createdAt}}</td>
      </tr>
      </tbody>
    </table>
  </div>
      <div class="row" [hidden]="unSelectData === true" *ngIf="selectAll === true || updated.orderIds.length >= 1" style="background-color: #D6223A;margin: 0px 7px;padding: 12px 0px 12px 26px;box-shadow: 0px 4px 8px #FF070748;border-radius: 0px 0px 4px 4px;">
        <div style="display: flex;align-items: center;justify-content: space-between;">
          <div><span style="color:#FFFFFF;font-weight: bold;font-size: 26px">Run Planner</span> <span style="font-size: 18px;color:#FFFFFF;">({{checkedCount}} order:
            <span *ngFor="let rt of this.checkedOrders | slice:0:3" [hidden]="this.checkedOrders.length > 3">{{rt}},</span> )</span></div>
          <div>
            <button class="btn" style="color: #FFFFFF;font-size: 14px;padding: 13px 23px;" [hidden]="unSelectAll === true || selectAll === true" (click)="toggleAll('selectAll')">Select All</button>&nbsp;&nbsp;&nbsp;
            <button class="btn" style="color: #FFFFFF;font-size: 14px;padding: 13px 23px;" *ngIf="unSelectAll === true || selectAll === true" (click)="toggleAll('unSelectAll')">UnSelect All</button>&nbsp;&nbsp;&nbsp;
            <button class="btn" style="border-radius: 4px;background-color: #FFFFFF; color: #D6223A;text-transform: capitalize;font-weight: 600;padding: 13px 23px;"  (click)="runPlanner(myModal)">Run Planner</button>
          </div>
        </div>
      </div>
</div>

<div class="row">
  <div class="col-sm-6" style="color: #393B3F;font-size: 14px">Showing 1 to 10 of {{totalCount.total}} entries</div>
  <div class="col-sm-6">
    <ul style="list-style: none; display: flex; align-items: center; justify-content: flex-end;">
      <li style="padding: 0px 10px; font-size: 12px"><label>Show</label></li>
      <li style="padding: 0px 10px;">
        <select class="form-select" [(ngModel)]="size" (click)="handlePageSizeChange(size)"
                [ngModelOptions]="{standalone: true}">
          <option selected>{{size}}</option>
          <option value="{{size}}"  *ngFor="let size of orderData.pageSizes">{{size}}</option>
        </select>
      </li>
      <li style="padding: 0px 0px;font-size: 12px"><label>Rows</label></li>
      <li style="padding: 0px 10px;">
        <ngb-pagination class="d-flex justify-content-end pagination-cus" [collectionSize]="totalCount.total" [(page)]="totalCount.page" [maxSize]="3" [pageSize]="totalCount.count" [boundaryLinks]="false" (pageChange)="changePage($event)">
          <ng-template ngbPaginationPrevious><i style="color: #A5A5A5" class="fa fa-angle-left fa-2x" *ngIf="totalCount.page != 1"></i></ng-template>
          <ng-template ngbPaginationNext><i style="color: #A5A5A5" class="fa fa-angle-right fa-2x"></i></ng-template>
        </ngb-pagination>
      </li>
    </ul>
  </div>
</div>

<ng-template #myModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="font-size: 30px;color: #353F4D;text-transform: capitalize;opacity: 1;">Configurations</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <label style="color: #818182;font-size: 12px;">SELECT TRUCK TYPE</label>
    <div class="truck-type-body" >
      <div class="truck-type active-truck">
        <img src="./assets/images/svg_icons/truck.svg" width="160">
        <div>
          <h3 style="letter-spacing: 0px;color: #000000;font-size: 16px">14-16 Mt 32</h3>
          <small style="font-size: 16px;color: #818182;text-transform: capitalize;">Multi Axle Container</small>
        </div>
      </div>
      <div class="truck-type">
        <img src="./assets/images/svg_icons/truck.svg" width="160">
        <div>
          <h3 style="letter-spacing: 0px;color: #000000;font-size: 16px">14-16 Mt 20-22</h3>
          <small style="font-size: 16px;color: #818182;text-transform: capitalize;">Multi Axle Full Body</small>
        </div>
      </div>
      <div class="truck-type">
        <img src="./assets/images/svg_icons/truck.svg" width="160">
        <div>
          <h3 style="letter-spacing: 0px;color: #000000;font-size: 16px">7-7.5 Mt 32</h3>
          <small style="font-size: 16px;color: #818182;text-transform: capitalize;">Single Axle Container</small>
        </div>
      </div>
      <div class="truck-type">
        <img src="./assets/images/svg_icons/truck.svg" width="160">
        <div>
          <h3 style="letter-spacing: 0px;color: #000000;font-size: 16px">7-7.5 Mt 32</h3>
          <small style="font-size: 16px;color: #818182;text-transform: capitalize;">Single Axle Container</small>
        </div>
      </div>
    </div>
    <label style="color: #818182;font-size: 12px;">SELECT DATE & TIME</label>
    <div class="row mt-2">
      <div class="col-sm-6">
        <div class="input-group date-picker">
          <div class="input-group-append">
            <button class="btn border-0" type="button"
                    style="border: 1px solid #ced4da;"
                    (click)="dp2.show()"
                    [attr.aria-expanded]="dp2.isOpen">
              DATE
            </button>
          </div>
          <input name="date" class="form-control text-center border-0" placement="top" style="background-color: #f3f3f4;"
                 [(ngModel)]="orderData.date"
                 placeholder="Enter Date"
                 readonly type="text"
                 #dp2="bsDatepicker"
                 onkeydown="return false"
                 [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red', showTodayButton: true, todayPosition: 'center', isAnimated: true }"
                 bsDatepicker
                 [attr.aria-expanded]="dp2.isOpen"/>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="time-picker">
          <div class="input-group date-picker">
            <div class="input-group-append">
              <button class="btn border-0" type="button"
                      style="border: 1px solid #ced4da;"
                      (click)="dp2.show()"
                      [attr.aria-expanded]="dp2.isOpen">
                TIME
              </button>
             {{updated.tripTime | json}}
            </div>
            <ng-template #popTemplate>
              <ngb-timepicker [(ngModel)]="updated.tripTime"  [meridian]="meridian" ></ngb-timepicker>
            </ng-template>
            <input class="form-control text-center border-0" style="background-color: #f3f3f4;" [(ngModel)]="updated.tripTime" [popover]="popTemplate" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn proceed-btn w-100" (click)="proceed(content);">Proceed</button>
    <button class="btn model-cancel-btn w-100" (click)="close()">Cancel</button>
  </div>
</ng-template>


<ng-template #content let-modal>
  <div class="login-content">
    <div class="container-fluid login-content">
      <div class="run-planner">
        <div class="col-sm-12">
          <div class="row align-items-center">
            <div class="col-sm-5 text-center">
              <div>Running</div>
              <div>Planner…</div>
            </div>
            <div class="col-sm-7">
              <video src="../../../../../assets/images"  type="video/mp4" style="width: 100%; height:100%;" autoplay loop muted>
                Sorry, your browser doesn't support HTML5 video tag.
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>



