<div class="dashboard_wrop">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row">
            <div class="text-50 discrip_wrip">
                <div class="discrip_titl">Uploaded SAP</div>
                <div class="duscript_sub">Upload SAP
                    <!-- <span>ORDER PROCESS</span> -->
                </div>
            </div>
            <div class="cust_input_toggle_group" style="margin-left: 10px;">
                <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedVal"
                    (change)="onValChange(group.value)">
                    <mat-button-toggle value="option1">
                        Upload SAP
                    </mat-button-toggle>
                    <mat-button-toggle value="option2">
                        All Uploaded SAP data
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="end center">
            <div>

            </div>
            <div class="cust_input_datepick">
                <mat-form-field appearance="fill">
                    <mat-label>Start date - End date</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>       -->
                    <mat-datepicker-toggle [disableRipple]="true" matSuffix [for]="picker">
                        <div matDatepickerToggleIcon><img src="../../../assets/images/calendar_icon.png" width="20px">
                        </div>
                    </mat-datepicker-toggle>

                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>

            <div class="search_table" style="margin-left: 10px">
                <input placeholder="Search" type="search">
            </div>

            <div class="exporting_icon">
                <img src="../../../assets/images/import_ex_icon.svg" />
            </div>
        </div>
    </div>
    <div class="asp_view_data" fxLayout="column" fxLayoutAlign="space-between top">
        <div fxLayout="row" fxLayoutAlign="start center" class="select_vins">
            <div>Selected Vin’s</div>
            <div class="vins_lable">
                <p></p>2345FGHJ56GH <span><img src="../../../assets/images/cross_icon.png" width="10px"></span>
            </div>
            <div class="vins_lable">
                <p></p>2345FGHJ56GH <span><img src="../../../assets/images/cross_icon.png" width="10px"></span>
            </div>
            <div class="vins_lable">
                <p></p>2345FGHJ56GH <span><img src="../../../assets/images/cross_icon.png" width="10px"></span>
            </div>
            <div class="vins_lable">
                <p></p>2345FGHJ56GH <span><img src="../../../assets/images/cross_icon.png" width="10px"></span>
            </div>
            <div class="vins_lable">
                <p></p>2345FGHJ56GH <span><img src="../../../assets/images/cross_icon.png" width="10px"></span>
            </div>
            <div class="vins_lable">
                <p></p>2345FGHJ56GH <span><img src="../../../assets/images/cross_icon.png" width="10px"></span>
            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="total_count_vin">
            <div class="total_count_vin_card active_card">
                <div class="down_icon ">
                    <img src="../../../assets/images/download.png">
                </div>
                <div class="vin_count">
                    <h2>22345</h2>
                    <p>Delayed <Br>
                        SAP</p>
                </div>
            </div>
            <div class="total_count_vin_card">
                <div class="down_icon ">
                    <img src="../../../assets/images/download.png">
                </div>
                <div class="vin_count">
                    <h2>22345</h2>
                    <p>Delayed <Br>
                        SAP</p>
                </div>
            </div>
        </div>
        <div class="view_count" fxLayout="row" fxLayoutAlign="space-between center">
<div fxLayout="row" fxLayoutAlign="start center" class="back_sap">
<span><img src="../../../assets/images/Icon awesome-arrow-left@3x.png"></span>
<p>SAP Data</p>
</div> 
<div fxLayout="row" class="sap_filter">
    <div class="filter_box active_box">
        <p>Today’s</p>
        <span>21</span>
    </div>
    <div class="filter_box">
        <p>All SAP</p>
        <span>21</span>
    </div>
    <div class="filter_box">
        <p>Delayed SAP</p>
        <span>21</span>
    </div>
</div>
        </div>

        <div fxLayout="row wrap"  fxflexfill class="view_cards_warp">
            <div fxLayout="row" fxLayoutAlign=" stretch" class="view_cards_box">
                <div class="cards_in_worp">
                    <div fxLayout="row" class="card_con_wrp">
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin1.png"></div>
                            <div class="card_text">
                                <p>Shipment Id</p>
                                <h3>45678FGHJ78</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin2.png"></div>
                            <div class="card_text">
                                <p>Number of VIN’s</p>
                                <h3>199</h3>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" class="card_con_wrp">
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin3.png"></div>
                            <div class="card_text">
                                <p>LR Number </p>
                                <h3>4567FGHJ5GH</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin4.png"></div>
                            <div class="card_text">
                                <p>Destinations</p>
                                <h3>Udaipur, Rajesthan 60</h3>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="card_footer">
                        <p>25th May 2022</p>
                        <h3>Start Allocation</h3>
                    </div>
                </div>
             </div>
             <div fxLayout="row" fxLayoutAlign=" stretch" class="view_cards_box">
                <div class="cards_in_worp">
                    <div fxLayout="row" class="card_con_wrp">
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin1.png"></div>
                            <div class="card_text">
                                <p>Shipment Id</p>
                                <h3>45678FGHJ78</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin2.png"></div>
                            <div class="card_text">
                                <p>Number of VIN’s</p>
                                <h3>199</h3>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" class="card_con_wrp">
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin3.png"></div>
                            <div class="card_text">
                                <p>LR Number </p>
                                <h3>4567FGHJ5GH</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin4.png"></div>
                            <div class="card_text">
                                <p>Destinations</p>
                                <h3>Udaipur, Rajesthan 60</h3>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="card_footer">
                        <p>25th May 2022</p>
                        <h3>Start Allocation</h3>
                    </div>
                </div>
             </div>
             <div fxLayout="row" fxLayoutAlign=" stretch" class="view_cards_box">
                <div class="cards_in_worp">
                    <div fxLayout="row" class="card_con_wrp">
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin1.png"></div>
                            <div class="card_text">
                                <p>Shipment Id</p>
                                <h3>45678FGHJ78</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin2.png"></div>
                            <div class="card_text">
                                <p>Number of VIN’s</p>
                                <h3>199</h3>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" class="card_con_wrp">
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin3.png"></div>
                            <div class="card_text">
                                <p>LR Number </p>
                                <h3>4567FGHJ5GH</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin4.png"></div>
                            <div class="card_text">
                                <p>Destinations</p>
                                <h3>Udaipur, Rajesthan 60</h3>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="card_footer">
                        <p>25th May 2022</p>
                        <h3>Start Allocation</h3>
                    </div>
                </div>
             </div>
             <div fxLayout="row" fxLayoutAlign=" stretch" class="view_cards_box">
                <div class="cards_in_worp">
                    <div fxLayout="row" class="card_con_wrp">
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin1.png"></div>
                            <div class="card_text">
                                <p>Shipment Id</p>
                                <h3>45678FGHJ78</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin2.png"></div>
                            <div class="card_text">
                                <p>Number of VIN’s</p>
                                <h3>199</h3>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" class="card_con_wrp">
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin3.png"></div>
                            <div class="card_text">
                                <p>LR Number </p>
                                <h3>4567FGHJ5GH</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin4.png"></div>
                            <div class="card_text">
                                <p>Destinations</p>
                                <h3>Udaipur, Rajesthan 60</h3>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="card_footer">
                        <p>25th May 2022</p>
                        <h3>Start Allocation</h3>
                    </div>
                </div>
             </div>
             <div fxLayout="row" fxLayoutAlign=" stretch" class="view_cards_box">
                <div class="cards_in_worp">
                    <div fxLayout="row" class="card_con_wrp">
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin1.png"></div>
                            <div class="card_text">
                                <p>Shipment Id</p>
                                <h3>45678FGHJ78</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin2.png"></div>
                            <div class="card_text">
                                <p>Number of VIN’s</p>
                                <h3>199</h3>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" class="card_con_wrp">
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin3.png"></div>
                            <div class="card_text">
                                <p>LR Number </p>
                                <h3>4567FGHJ5GH</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin4.png"></div>
                            <div class="card_text">
                                <p>Destinations</p>
                                <h3>Udaipur, Rajesthan 60</h3>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="card_footer">
                        <p>25th May 2022</p>
                        <h3>Start Allocation</h3>
                    </div>
                </div>
             </div>
             <div fxLayout="row" fxLayoutAlign=" stretch" class="view_cards_box">
                <div class="cards_in_worp">
                    <div fxLayout="row" class="card_con_wrp">
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin1.png"></div>
                            <div class="card_text">
                                <p>Shipment Id</p>
                                <h3>45678FGHJ78</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin2.png"></div>
                            <div class="card_text">
                                <p>Number of VIN’s</p>
                                <h3>199</h3>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" class="card_con_wrp">
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin3.png"></div>
                            <div class="card_text">
                                <p>LR Number </p>
                                <h3>4567FGHJ5GH</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="50" class="card_item">
                            <div class="card_icon"><img src="../../../assets/images/vin4.png"></div>
                            <div class="card_text">
                                <p>Destinations</p>
                                <h3>Udaipur, Rajesthan 60</h3>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="card_footer">
                        <p>25th May 2022</p>
                        <h3>Start Allocation</h3>
                    </div>
                </div>
             </div>
            
            
        </div>
    </div>
</div>