<app-header-bar></app-header-bar>
<div style="margin-top: 24px;margin-bottom: 12px;color: #818182;font-size: 14px;font-weight: 900"
     xmlns="http://www.w3.org/1999/html">User Master Data</div>
<div class="order-data-tile" *ngIf="tab == 1">
  <div class="fixTableHead">
    <table class="table caption-top table-hover-sticky">
      <thead>
      <tr>
        <th scope="col" style="padding: 40px 20px 20px 20px;color: #272D3B;text-transform: capitalize;font-size: 14px">UserName</th>
        <th scope="col" style="padding: 40px 20px 20px 20px;color: #272D3B;text-transform: capitalize;font-size: 14px">FullName</th>
        <th scope="col" style="padding: 40px 20px 20px 20px;color: #272D3B;text-transform: capitalize;font-size: 14px">EmailId</th>
        <th scope="col" style="padding: 40px 20px 20px 20px;color: #272D3B;text-transform: capitalize;font-size: 14px">PhoneNumber</th>
        <th scope="col" style="padding: 40px 20px 20px 20px;color: #272D3B;text-transform: capitalize;font-size: 14px">Active</th>
        <th scope="col" style="padding: 40px 20px 20px 20px;color: #272D3B;text-transform: capitalize;font-size: 14px">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let users of pendingUsersList; let i =index;">
        <td style="padding: 13px 20px;color: #272d3bb8;">{{users.username || 'NA'}}</td>
        <td style="padding: 13px 20px;color: #272d3bb6;text-transform: capitalize;font-size: 14px">{{users.fullName || 'NA'}}</td>
        <td style="padding: 13px 20px;color: #272d3be6;text-transform: capitalize;font-size: 14px">{{users.email || 'NA'}}</td>
        <td style="padding: 13px 20px;color: #272d3be6;text-transform: capitalize;font-size: 14px">{{users.mobile || 'NA'}}</td>
        <td style="padding: 13px 20px;color: #272d3be6;text-transform: capitalize;font-size: 14px">{{users.consigneeCity || 'NA'}}</td>
        <td style="padding: 13px 20px;color: #272d3be6;text-transform: capitalize;font-size: 14px">{{users.consigneeCity || 'NA'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row" *ngIf="tab === 1">
  <div class="col-sm-6" style="color: #393B3F;font-size: 14px">Showing 1 to 10 of {{pendingUsersTotalCount.pages}} entries</div>
  <div class="col-sm-6">
    <ul style="list-style: none; display: flex; align-items: center; justify-content: flex-end;">
      <li style="padding: 0px 10px; font-size: 12px"><label>Show</label></li>
      <li style="padding: 0px 10px;">
        <select class="form-select">
          <option value="1" selected>10</option>
        </select>
      </li>
      <li style="padding: 0px 0px;font-size: 12px"><label>Rows</label></li>
      <li style="padding: 0px 10px;">
        <ngb-pagination class="d-flex justify-content-end pagination-cus" [collectionSize]="pendingUsersTotalCount.pages" [(page)]="pendingUsersTotalCount.page" [maxSize]="3" [pageSize]="pendingUsersTotalCount.count" [boundaryLinks]="false" (pageChange)="changePendingPage($event)">
          <ng-template ngbPaginationPrevious><i style="color: #A5A5A5" class="fa fa-angle-left fa-2x" *ngIf="pendingUsersTotalCount.page != 1"></i></ng-template>
          <ng-template ngbPaginationNext><i style="color: #A5A5A5" class="fa fa-angle-right fa-2x"></i></ng-template>
        </ngb-pagination>
      </li>
    </ul>
  </div>
</div>

<!--<div class="order-data-tile" *ngIf="tab == 2">-->
<!--  <div class="fixTableHead">-->
<!--    <table class="table caption-top table-hover-sticky">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th scope="col" style="padding: 40px 20px 20px 20px;color: #272D3B;text-transform: capitalize;font-size: 14px">UserName</th>-->
<!--        <th scope="col" style="padding: 40px 20px 20px 20px;color: #272D3B;text-transform: capitalize;font-size: 14px">FullName</th>-->
<!--        <th scope="col" style="padding: 40px 20px 20px 20px;color: #272D3B;text-transform: capitalize;font-size: 14px">EmailId</th>-->
<!--        <th scope="col" style="padding: 40px 20px 20px 20px;color: #272D3B;text-transform: capitalize;font-size: 14px">PhoneNumber</th>-->
<!--        <th scope="col" style="padding: 40px 20px 20px 20px;color: #272D3B;text-transform: capitalize;font-size: 14px">Active</th>-->
<!--        <th scope="col" style="padding: 40px 20px 20px 20px;color: #272D3B;text-transform: capitalize;font-size: 14px">Actions</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let users of pendingUsersList; let i =index;">-->
<!--        <td style="padding: 13px 20px;color: #272d3bb8;">{{users.orderNo || 'NA'}}</td>-->
<!--        <td style="padding: 13px 20px;color: #272d3bb6;text-transform: capitalize;font-size: 14px">{{users.consignorCity || 'NA'}}</td>-->
<!--        <td style="padding: 13px 20px;color: #272d3be6;text-transform: capitalize;font-size: 14px">{{users.consigneeState || 'NA'}}</td>-->
<!--        <td style="padding: 13px 20px;color: #272d3be6;text-transform: capitalize;font-size: 14px">{{users.consigneeCity || 'NA'}}</td>-->
<!--        <td style="padding: 13px 20px;color: #272d3be6;text-transform: capitalize;font-size: 14px">{{users.consigneeCity || 'NA'}}</td>-->
<!--        <td style="padding: 13px 20px;color: #272d3be6;text-transform: capitalize;font-size: 14px">{{users.consigneeCity || 'NA'}}</td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="row" *ngIf="tab === 2">-->
<!--  <div class="col-sm-6" style="color: #393B3F;font-size: 14px">Showing 1 to 10 of {{activeUsersTotalCount.pages}} entries</div>-->
<!--  <div class="col-sm-6">-->
<!--    <ul style="list-style: none; display: flex; align-items: center; justify-content: flex-end;">-->
<!--      <li style="padding: 0px 10px; font-size: 12px"><label>Show</label></li>-->
<!--      <li style="padding: 0px 10px;">-->
<!--        <select class="form-select">-->
<!--          <option value="1" selected>10</option>-->
<!--        </select>-->
<!--      </li>-->
<!--      <li style="padding: 0px 0px;font-size: 12px"><label>Rows</label></li>-->
<!--      <li style="padding: 0px 10px;">-->
<!--        <ngb-pagination class="d-flex justify-content-end pagination-cus" [collectionSize]="activeUsersTotalCount.pages" [(page)]="activeUsersTotalCount.page" [maxSize]="3" [pageSize]="activeUsersTotalCount.count" [boundaryLinks]="false" (pageChange)="changeActivePage($event)">-->
<!--          <ng-template ngbPaginationPrevious><i style="color: #A5A5A5" class="fa fa-angle-left fa-2x" *ngIf="activeUsersTotalCount.page != 1"></i></ng-template>-->
<!--          <ng-template ngbPaginationNext><i style="color: #A5A5A5" class="fa fa-angle-right fa-2x"></i></ng-template>-->
<!--        </ngb-pagination>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
