<div class="tile">
  <h2 class="upload-lp-input-file"><b>Upload LP Input File</b></h2>
 <div class="tile-body text-center">
   <div class="upload-file-icon" name="uploadfile" ngfSelect accept=".csv" [(files)]="xlsxFile" (filesChange)="uploadFile(xlsxFile)">
<!--   <div class="upload-file-icon">-->
<!--     <form action="/uploadExcelFile" enctype="multipart/form-data" method="post">-->
<!--       <input type="file" name="uploadfile" accept='.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel'>-->
<!--       <input type="submit" class="p-10 w-100" value="UploadExcel">-->
<!--     </form>-->
     <i class="svgIconUpLoadFileDetails upload-file-svgIcon"> </i>
     <h2 class="upload-lpif"><b>Upload LPIF</b></h2>
     <div class="upload-lp-input-file-content">Drag & Drop or <span style="color: #E98F9B">Click here </span>to browse SAP data from your local device</div>
     <div class="upload-lp-input-file-content"><span style="color: #E98F9B">Click here </span>Click here to Download Template</div>
   </div>
 </div>
  <small class="upload-single-file">Upload single file at a time.</small>
    <div class="text-end" style="margin: 30px 25px 8px 25px">
      <button class="btn btn-lg px-4-2rem py-2-0-8rem cancel-btn">CANCEL</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-lg px-4-2rem py-2-0-8rem confirm-btn">
        CONFIRM
      </button>
    </div>
</div>
